# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Frontend Virtual environment folders
venv/
.env
.env.*

# Streamlit specific cache
.streamlit/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Editor folders and files
.vscode/
.idea/
